*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    background-image: url(../assets/images/aboutimage.webp);
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-position-x: center;
}
.header{
    background-color: #397130;
    display: grid;
    grid-template-columns: 1.4fr 2fr;
    height: 70px;
}
.righthead a{
color: white;
text-decoration: none;
grid-gap: 20px;
font-family: sans-serif;
}
.righthead{
    display: flex;
    flex-direction: row;
    grid-gap: 60px;
    padding-top: 20px;
}

.leftbody img{
   height: 360px;
   width: 320px;
    border-radius: 100%;
}
#tparf{
    padding-left: 70px;
    padding-top: 17px;
}
.body{
    padding-top: 60px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
   
    height: 600px;
}
.rightbody{
    padding-top: 60px;
    font-size: 1.2rem;
    font-weight: 500;
}
.rightbody button {
    background-color: #010e0b;
    border-radius: 3px;
    border: none;
    height: 40px;
    font-size: 22px;   
}
.rightbody a{
    color: rgb(245, 250, 247);
    text-decoration: none;
}


@media screen and ( max-width:1340px){

.container{
    width: 100%;
    background-image: url(../assets/images/aboutimage.webp);
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-position-x: center;
}
.header{
    background-color: #397130;
    display: grid;
    grid-template-columns: 1.4fr 2fr;
    height: 70px;
}
.righthead a{
color: white;
text-decoration: none;
grid-gap: 20px;
font-family: sans-serif;
}
.righthead{
    display: flex;
    flex-direction: row;
    grid-gap: 60px;
    padding-top: 20px;
}

.leftbody img{
   max-height: 340px;
   max-width: 290px;
    border-radius: 100%;
}
#tparf{
    padding-left: 70px;
    padding-top: 17px;
}
.body{
    padding-top: 60px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
   
    height: 600px;
}
.rightbody{
    padding-top: 60px;
    font-size: 1.2rem;
    font-weight: 500;
}
.rightbody button {
    background-color: #010e0b;
    border-radius: 3px;
    border: none;
    height: 40px;
    font-size: 22px;   
}
.rightbody a{
    color: rgb(245, 250, 247);
    text-decoration: none;
}

}


@media screen and ( max-width:1239px){
.container{
    width: 100%;
    
}
.righthead{
    gap: 40px;
}
#tparf{
    padding-left: 40px;
}
.header{
     display: flex;
     flex-direction: row;
     gap: 4%;
 }

.rightbody{
    padding-top: 0px;
    font-size: 16px;
}
.body{
    padding-left: 10px;
}

}


@media screen and ( max-width:1040px){
    .container{
        width: 100%;
    }
   .leftbody img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
   }
   .body{
    padding-left: 0px;
   }
   #tparf{
    padding-left: 10px;
    font-size: 16px;
   }
    .header{
        gap: 4%;
    }
    .righthead{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        gap: 20px;
    }
    .righthead a{
        color: white;
        text-decoration: none;
        font-size: 12px;
        font-family: sans-serif;
    }

}


@media screen and ( max-width:889px){
    .container{
        width: 100%;
    }
    .header{
        gap: 4%;
        height: 80px;
    }
    .righthead{
        gap: 5px;
    }
    .righthead a{
        font-size: 10px;
    }
    .body{
        background-color: #327266;
        color: white;
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
        margin-top: 0px;
    }
    .leftbody{
     padding-left: 70px;
    }
    .rightbody {
        padding-top: 10px;
       padding-left: 70px;
    }
   
}

@media screen and ( max-width:600px){
    .header{
        display: flex;
        flex-direction: column;
    }
    .righthead{
        display: flex;
        flex-direction: row;
        gap: 3%;
      
    }
    .rightbody {
       padding-left: 0px;
    }
}


@media screen and ( max-width:399px){
    .container{
        width: 100vw;
    }
    .lefthead{
     display: none;
    }
    .righthead{
        padding-top: 5px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
    }
    .rightbody {
        padding-left: 0px;
        font-size: 12px;
     }
     .leftbody{
        padding-left: 10px;
       }



}
