*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media only screen and (min-width:290px){
    .header{
        background-color:#397130;
        height: auto;
        padding-top: 10px;
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        gap: 10px;
    }
    .lefthead{
        padding-left: 0px;
    }
    .righthead{
      
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }
    .righthead a{
     text-decoration: none;
     color: white;
     font-size: 11px;

    }
    .container{
        background-image: url(../assets/images/contact2.jpg);
        background-size: cover;
        height: auto;
    }
    #tparf{
      font-size: 15px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 5px;
        width: 90%;
    }
    .card1, .card2, .card3, .card4{
        background-color: #327266;
        color: white;
        height: auto;
        width: 280px;
        border-radius: 5px;
        padding-left: 10px;
        padding-top: 20px;
    }
    .card{
        background-color: #327266;
        color: white;
        height: auto;
        width: 80%;
        border-radius: 5px;
        padding-left: 40px;
        padding-top: 20px;
        margin: auto;
        margin-top: 30px;
    }
    p a{
        text-decoration: none;
        color: black;
    }
    p a:hover {
        color: rgb(236, 6, 6);
        text-decoration: underline;
    }
}


@media only screen and (min-width:425px){
    .cards{
        margin-left: 20%;
    }
    .header{
        height: 45px;
        padding-top: 10px;
        gap: 12px;
    }
   
}


@media only screen and (min-width:500px){
    .header{
        gap:34px;
    }
    .righthead a{
        font-size: 13px;
    }
    .heading h1{
        text-align: center;
    }
   
}


@media only screen and (min-width:600px){
    .header{
        gap:65px;
    }
    .righthead a{
        font-size: 15px;
    }
    #tparf{
        font-size: 25px;
    }
    .lefthead{
        padding-left: 15px;
    }
    .cards{
        margin-left: 30%;
    }
}

@media only screen and (min-width:700px){
  .cards{
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 60px;
    padding-top: 20px;
  }
  .header{
    gap:100px;
  }
  .righthead{
    gap: 25px;
  }

}

@media only screen and (min-width:850px){
    .righthead{
        gap: 35px;
    }
    .cards{
        padding-top: 25px;
        margin-left: 100px;
        gap: 90px;
    }
    .header{
        gap:180px;
    }
}

@media only screen and (min-width:970px){
    .righthead{
        gap: 40px;
    }
    .cards{
        margin-left: 120px;
    }
    .header{
        gap:240px;
    }
    .card1, .card2, .card3, .card4{
        height: auto;
        width: 350px;
    }
}

@media only screen and (min-width:1100px){
    .righthead{
        gap: 55px;
    }
    .righthead a{
        font-size: 16px;
    }
    .cards{
        margin-left: 50px;
    }
    .header{
        height: 60px;
        padding-top: 20px;
    }
    .card1, .card2, .card3, .card4{
        width: 450px;
    }

}

@media only screen and (min-width:1240px){
    #tparf{
        font-size: 30px;
        margin-left: 30px;
    }
    .header{
        height: 70px;
        padding-top: 25px;
    }
    .righthead a{
        font-size: 20.5px;
    }
    .righthead{
        gap: 55px;
    }
    .cards{
        margin-left: 60px;
    }
    .card1, .card2, .card3, .card4{
        width: 500px;
        height: 450px;
    }
    p{
        font-size: 22px;
    }
}



@media only screen and (min-width:1350px){
.header{
    height: 70px;
    padding-top: 25px;
    gap: 320px;
}


.heading h1{
    margin-top: 20px;
    padding-left: 30px;
    color: #000000;
    font-weight: 400;
}

.righthead a{
font-family: sans-serif;
}
#tparf{
    font-size: 30px;
  margin-top: -8px;
    margin-left: 30px;
}
.cards{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    margin-left: 70px;
    width: 90%;
    height: auto;
}
.card1, .card2, .card3, .card4{
    width: 550px;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 20px;
}
.card{
    background-color: #327266;
    color: white;
    min-height: 500px;
    width: 80%;
    border-radius: 5px;
    padding-left: 40px;
    padding-top: 20px;
    margin: auto;
    margin-top: 30px;
}
.card ol{
    padding-left: 40px;
}

.cards button{
    background-color: #327266;
    border: none;
}
.card1bt{
    display: none;
}
.footer{
    height: 30px;
   padding-top: 8px;
   color: black;
    display: flex;
    gap: 20px;
    padding-left: 60px;
}

.cards .blog1Display{
    display: contents;
 }

#formp{
    background-color: black;
    height: 200px;
    padding-top: 30px;
    padding-left: 40px;
    width: 40%;
    border-radius: 5px;
    margin-left: 800px;
}
#formp button{
    background-color: #327266;
    color: white;
    font-size: 28px;
    height: 60px;
    border: none;
    border-radius: 5px;
    margin-left: 20%;
    width: 240px;
}
#formp input[type=text]{
    background-color: #327266;
    height: 60px;
    border: none;
    border-radius: 5px;
    width: 75%;
}
#formp input[type=text]::placeholder{
    color: white;
    font-size: 28px;
    text-align: center;
}
.blogForm form{
    background-color: #327266;
    height: auto;
    padding-top: 30px;
    padding-left: 40px;
    width: 40%;
    margin-left: 40%;
    border-radius: 5px;
}
.blogForm form input[type=text]{
    background-color: #fafdfd;
    height: 25px;
    border: none;
    border-radius: 0;
    width: 40%;
    margin-left: 7%;
    
}
textarea{
    margin-left:15% ;
    width: 380px;
    border-radius: 5px;
}
}

@media only screen and (min-width:1460px){
    .header{
        padding-top: 25px;
        gap: 420px;
    }
}

