*{
    margin: 0;
}
.header{
   margin-top: 10px;
    background-color: #397130;
    display: grid;
    grid-template-columns: 1.4fr 2fr;
    height: 70px;
}
.righthead a{
    color: white;
    text-decoration: none;
    grid-gap: 20px;
    font-family: sans-serif;
}
.righthead{
    display: flex;
    flex-direction: row;
    grid-gap: 60px;
    padding-top: 20px;
}
.leftbody a{
    text-decoration: none;
    color: white;
}
.leftbody img{
 
    height: 360px;
    width: 340px;
    border-radius: 100%;
}
.leftbody{
    box-shadow: 40px 0px 16px gray ;
    border-right: 10px solid rgba(102, 99, 99,.5);
    padding-top: -40px;
   background-repeat: no-repeat;
   background-size: cover;
    background-image: url(../assets/images/myPhoto.PNG);
    border-radius: 5px;
}

#tparf{
    padding-left: 70px;
    padding-top: 17px;
}
.container{
    background-image: url(../assets/images/home2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}

.body{
    /* padding-top: 60px; */
    padding-left: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: rgba(255, 255,0,.1);
   
    height: 600px;
}
.rightbody{
    padding-top: 60px;
    padding-left: 50px;
    font-weight: 900;
    font-size: 1.4rem;
    
}