*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media screen and (min-width: 320px){
    .container{
        width: 100%;
    }
    .header{
        background-color: #397130;
        display: flex;
        flex-direction: row;
    }
    .lefthead{
        display: none;
    }
    .righthead{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12%;
    }
    .righthead a{
        color: white;
        text-decoration: none;
        font-family: sans-serif;
        padding-left: 5px;
        font-size: 10px;
    }
    #login{
        margin-left: 20px;
        color: yellow;
    }
    .formpart{
        background-image: url(../assets/images/backgroundImage.webp);
        background-size: cover;
        height: 700px;
    }
    .form2{
        background-color:rgb(40, 141, 207);
        color: black;
        height: 320px;
        width: 300px;
        margin-left: 10px;
        padding-left: 30px;
        padding-top: 30px;
        margin-top: 50px;
        border-radius: 5px;
        opacity: 1;
    }
    .form2 button{
        color: white;
        background-color: green;
        border: none;
        border-radius: 5px;
        height: 30px;
        width: 167px;
        margin-left: 30px;
    }
    .form2 input{
        height: 40px;
        width: 250px;
        border-radius: 5px;
        border: none;
    }

}


@media screen and (min-width: 360px){
    .form2{
        margin-left: 30px;
    }
    .righthead a{
        font-size: 13px;
    }
}

@media screen and (min-width: 400px){
    .form2{
        margin-left: 60px;
    }
}

@media screen and (min-width: 480px){
    .container{
        width:100%;
    }
    .header{
        height: 50px;
    }
    .righthead{
        padding-top: 12px;
       display: grid;
       grid-template-columns: 1fr 1.1fr 1fr 1fr 1.2fr 1fr 1fr;
       grid-gap: 18px;
   }
   .righthead a{
      padding-left: 10px;
      font-size: 10px;
    }
    #login{
    margin-left: 90px;
    padding-top: 20px;
    }
    .form2{
      margin-left: 90px;
    }
}

@media screen and (min-width: 564px){
    .form2{
        margin-left: 140px;
    }
    .righthead a{
        font-size: 12px;
    }
    .righthead{
        grid-gap: 21px;
    }
    #login{
        margin-left: 140px;
    }
}

@media screen and (min-width: 630px){
    .lefthead{
        display:contents;
    }
    #tparf{
        padding-left: 12px;
        padding-top: 15px;
    }
    .header{
        gap: 80px;
    }
    .righthead a{
        font-size: 10px;
    }
    .righthead{
        grid-gap: 11px;
    }
    #login, .form2{
        margin-left: 170px;
    }
}

@media screen and (min-width: 770px){
    .righthead a{
        font-size: 12px;
    }
    .righthead{
        grid-gap: 11px;
    }
    .header{
        gap: 150px;
    }
    #login, .form2{
        margin-left: 220px;
    }
}

@media screen and (min-width: 970px){
    #login{
      margin-left: 320px;
    }
    .form2{
        margin-left: 320px;
        height: 350px;
        padding-top: 50px;
        width: 400px;
    }
    .form2 input{
        width: 350px;
    }
    .righthead a{
        font-size: 15px;
    }
    .righthead{
        grid-gap: 22px;
    }
    .header{
        gap: 200px;
    }
}

@media screen and (min-width: 1150px){
    .righthead a{
        font-size: 15px;
    }
    .righthead{
        grid-gap: 22px;
    }
    .header{
        gap: 380px;
    }
    .form2{
        margin-left: 400px;
        height: 420px;
        width: 400px;
        padding-top: 70px;
    }
    #login{
        margin-left: 400px;
        padding-top: 40px;
    }
}





/* 
.header{
   margin-top: 10px;
    background-color: #397130;
    display: grid;
    grid-template-columns: 1.4fr 2fr;
    height: 70px;
}
.righthead a{
color: white;
text-decoration: none;
grid-gap: 20px;
font-family: sans-serif;
}
.righthead{
    display: flex;
    flex-direction: row;
    grid-gap: 60px;
    padding-top: 20px;
}
#tparf{
    padding-left: 70px;
    padding-top: 17px;
}
#login{
    padding-left: 620px;
    color: yellow;
}
.form2{
    background-color:rgb(40, 141, 207);
    color: black;
    height: 420px;
    width: 400px;
    padding-left: 40px;
    padding-top: 70px;
    margin-left:580px ;
    margin-top: 90px;
    border-radius: 5px;
    opacity: 1;
}
.formpart{
    background-image: url(../assets/images/backgroundImage.webp);
   
    height: 650px;
    background-size: cover;
}
.form2 button{
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 167px;
}
.form2 input{
    height: 40px;
    width: 350px;
    border-radius: 5px;
} */