*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@media screen and ( min-width:320px){
    .header{
         background-color: #397130;
         display: flex;
         flex-direction: row;
         height: 40px;
       }
     .righthead a{
        color: white;
        padding-left: 5px;
        text-decoration: none;
        font-size: 10px;
        font-family: sans-serif;
      }
     .righthead{
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 12%;
       }
       .lefthead{
        display: none;
       }
       h2{
        font-size: 12px;
        padding-left: 80px;
       }
       .bodies img{
        height: 120px;
        width: 120px;
       }
       .bodies{
        display: grid;
        grid-template-columns: repeat(2,0.2fr);
        padding-left: 25px;
        padding-top: 5px;
        grid-gap: 45px;
        background-color: #6F9B79;
       }
       #emoji{
        display: none;
       }
       .summary{
        padding-left: 10px;
        background-color: #6F9B79;
       }
}



@media screen and (min-width: 480px) { 
    .righthead{
        padding-top: 12px;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr 1.2fr 1fr 1fr;
       grid-gap: 18px;
   }
   .righthead a{
    padding-left: 10px;
    font-size: 10px;
  }
  h2{
    font-size: 24px;
    padding-left: 80px;
   }
   .bodies{
    grid-template-columns: repeat(3,0.2fr);
   }


}



@media screen and (min-width: 720px){

    .lefthead{
        display: contents;
       
    }
    #tparf{
        padding-left: 10px;
        padding-top: 10px;
    }
    .header{
        display: flex;
        flex-direction: row;
        gap: 80px;
    }
    .righthead a{
        font-size: 11px;
    }
    .bodies img{
        height: 220px;
        width: 220px;
    }
    .bodies{
        padding-left: 3px;
        grid-gap: 25px;
    }


}

@media screen and (min-width: 880px){
    .bodies{
        grid-gap: 95px;
    }
    .header{
        gap: 150px;
    }
    .righthead a{
        font-size: 13px;
    }
    .righthead{
        grid-gap: 23px;
    }
}


/* @media screen and (min-width: 1030px){
    .bodies{
        grid-gap: 160px;
        padding-left: 50px;
        padding-top: 20px;
    }
    .header{
        gap: 265px;
    }
    .righthead a{
        font-size: 14px;
    }
    .righthead{
        grid-gap: 25px;
    }
} */


@media screen and (min-width:1030px){
    .summary p{
        font-size: 20px;
    }
    .body h2{
        margin-left: 400px;
        font-size: 28px;
    }
    #tparf{
        font-size: 30px;
    }
    .header{
        gap: 240px;
        height: 60px;
    }
    .righthead a{
        font-size: 14px;
    }
    .righthead{
        grid-gap: 20px;
    }
    .bodies{
        grid-gap: 120px;
        padding-left: 10px;
    }
}

@media screen and (min-width: 1350px){
    .header{
        gap: 285px;
        height: 60px;
    }
    .righthead{
        grid-gap: 29px;
    }
    .righthead a{
        font-size: 20px;
    }
    .bodies{
        grid-gap: 220px;
        padding-left: 40px;
        padding-top: 25px;
    }
    
}


